.main-title {
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
color:#4F4F4F    

}.main-title-3 {
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
color:#4F4F4F    

}

.news-sub-title {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #3B71CA
}

p {
    margin-bottom: 8px
}

.date {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}
.main-ids{
    font-family: Open Sans;
font-size: 16px;
font-weight: 700;
line-height: 28px;
letter-spacing: -0.017em;
text-align: left;
color: #928f8f;
}
.main-num{
    font-family: Open Sans;
font-size: 36px;
font-weight: 700;
line-height: 44px;
letter-spacing: -0.022em;
text-align: left;
color: #000
}
.main-lil-num{
    font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.011em;
text-align: left;
color: #E0144C;
}